
/* general styles */
* { box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

.container {  width: 80%; 
    margin: auto;
}

:root {--mincolor:#7b5244;
    --subcolor:#333;
    }
a {text-decoration:none ;}
  .section-header { text-align: center;
    margin-bottom: 25px;
}
  .section-title { font-size: 30px;
    margin-bottom: 19px;
 }
 .section-header .line {   display: block;
    width: 100px;
    height: 2px;
    background-color: var(--mincolor);
    margin: auto;
    transition: width 0.5s;
 }
 .section-header:hover .line {width: 150px;}
 .section-padding {  padding: 40px 0;}


.body {
    font-family: 'Varela Round', sans-serif;
    height: 5000px;
}

/* header */
.header {
    padding: 30px 0;
 }
 .header-content {
     display: flex;
     justify-content: space-between;
     text-align: center;
 }
 .header-content ul li {
     display: inline-block;
 }
 .header-content ul li,
 .header-content ul li a {  color: var(--subcolor);    }
 
 .header-content img {
     flex: 1;
     max-width: 170px;
 }
 .header-content nav {
     flex: 3;
     text-align: center;
 }
 .header-content .login {
      flex: 1;
 }
 .header-content ul li {
     display: inline-block;
 }
 .header-content nav ul li .link-item {
    padding: 10px 20px;
    font-weight: bold;
    display: block;
    position: relative;
 
 }
 .header-content nav ul li .link-item:before {
     position: absolute;
     content: "";
     border-width: 0 2px;
     border-color: var(--mincolor);
     border-style: solid;
     width: 99%;
     height: 100%;
     top: 0;
     left: 0;
     transition: transform 0.2s;
     transform: scale3d(1,0,1);
 }
 .header-content ul li .link-item:hover:before { 
     transform: scale3d(1,1,1);
 }
 .header-content ul li .link-item:after {  content: "";
     position: absolute;
     border-color: var(--mincolor);
     border-width: 2px 0;
     border-style: solid;
     width: 100%;
     height: 91%;
     top: 0;
     left: 0;
     transition: transform 0.2s;
     transform: scale3d(0,1,1);
     transform-origin: left;
 }
 .header-content ul li .link-item:hover:after {
     transform: scale3d(1,1,1);
 }
 .header-content .login ul li {
     padding: 10px;
     font-weight: bold;
 }
 .header-content .login ul li:last-child i {
     position: relative;
     margin-right: 5x;
 }
 .header-content .login ul li:last-child i:after {
     position: absolute;
     content: "0";
     background: var(--mincolor);
     color: #fff;
     bottom: 0;
     right: -11px;
     padding: 4px;
     border-radius: 50%;
     font-size: 10px;
 }
 /* dropdown */
 .dropdown {
     position: relative;
 
 }
 .dropdown-menu {
     position: absolute;
     width: 450px;
     border: 2px solid var(--mincolor);
     background-color: #fff;
     padding: 5px 50px;
     margin-top: 5px;
     transform: scale(0);
     
 }
 .dropdown:hover .dropdown-menu {
     transform: scale(1);
 }
 .dropdown-menu ul {
     
     display: table-cell;
     text-align: left;
     
 }
 .dropdown-menu ul li:first-child a {
    display: block; 
    border-bottom: 1px dotted var(--mincolor);
    margin-bottom: 10px;
 }
 .dropdown-menu ul li {
     line-height: 1.7;
 }
 
 /* slider */
 section.slider img {
     width: 100%;
 }
/* category */
.category-items {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
}
.category-item {
    position: relative;
}

.category-item img {  width: 100%;
    margin-bottom: 25px;

}
.category-item-subtitle { color: #808080;
    font-weight: normal;
}
.category-item .icon {  width: 30px;
    height: 30px;
    display: block;
    background: var(--mincolor);
    color: #fff;
    line-height: 40px;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;

}
.category-item:hover .icon {
    visibility: visible;
    opacity: 1;
}
/* discount */
.discount {   margin:20px 0;
    display: flex;
    

}
.discount-desc {
    flex: 2;
    background: #f7f3ef;
    padding: 20px;
    position: relative;
}
.discount-desc .top {
    position: relative;
    padding-left: 60px;
    margin-bottom: 15px;
}
.discount-desc .top +p {
    line-height: 1.5;
}
.discount-desc .top .icon { 
    position: absolute;
    left: 0;
    top: 0;
    font-size: 50px;
    color: var(--mincolor);
}
.discount-item {
    flex: 1;
    height: 300px;
    position: relative;
}
.discount-item-info {
    position: absolute;
    top: 20px;
    left: 15px;
}
.discount-item-info h3 {
    font-weight: normal;
    color: var(--mincolor);
}
.discount-item-info h2 {
    font-size: 20px;
}

.discount-item:nth-child(2) {  background-image: url(../images/cms-banner-11.jpg);
    background-size: cover;
    margin: 0 20px;
}
.discount-desc .bolletes {
    text-align: right;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.discount-desc .bolletes span {
    width: 50px;
    height: 2px;
    display: inline-block;
    background: var(--mincolor);
    margin-left: 10px;
}
.discount-item:nth-child(3) {  background-image: url(../images/cms-banner-21.jpg);
    background-size: cover;
    margin: 0 20px;
    transition: transform 0.3s;
}
.discount-item:nth-child(2):hover,
.discount-item:nth-child(3):hover {
    transform: scale(1.1);
}
/* -/ sprites */
.sprites {
    display: flex;
    margin-bottom: 25px;
}
.spirte-item {
   flex: 1;

    text-align: center;

    border-right: 1px solid var(--mincolor);

}
.spirte-item:last-child {
    border: 0;
}
.sprite-icon {
    background-image: url(../images/service-icon.png);
    height: 56px;
    background-repeat: no-repeat;
}
.sprite-icon-1 {
    background-position: center 5px;
    transition: 0.5s;
}

.spirte-item:hover .sprite-icon-1 {
    background-position: center -86px;
}
.sprite-icon-2 {
    background-position: center -180px;
    transition: all 0.5s;

}
.spirte-item:hover .sprite-icon-2 {
    background-position: center -273px;
}
.sprite-icon-3 {
    background-position: center -366px;
    transition: all 0.5s;
}
.spirte-item:hover .sprite-icon-3 {
    background-position: center -455px;
}
.sprite-icon-4 {
    background-position: center -549px;
    transition: all 0.5s;
}
.spirte-item:hover .sprite-icon-4 {
    background-position: center -639px;
}
.sprite-icon-5 {
    background-position: center -734px;
    transition: all 0.5s;
}
.spirte-item:hover .sprite-icon-5 {
    background-position: center -826px;
} 

.sprite-info h3 {
    font-size: 17px;
}
.sprite-info span {
    color: #808080;
    font-size: 15px;
}


/* products section */

.products {
    
}
.list-products {
    display: flex;
    justify-content: center;
}
.list-products li {
    list-style: none;
    margin: 10px 20px;
}
.products-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.product-img {
    position: relative;
}
.product-overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.2s;
}
.product-overlay ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.product-overlay ul li {list-style: none;
    width: 40px;
    height: 40px;
    background: var(--mincolor);
    display: inline-block;
    text-align: center;
}
.product-overlay ul li i {
    color: #fff;
    line-height: 40px;
}
.product-item:hover .product-overlay {
    transform: scaleX(1);
}
.product-info i.active {
    color: #ffff00;
}
.product-info i {
    margin-top: 10px;
}
.product-info span {
    display: block;
    margin: 5px 0;
} 











    

































   
    
    
    

    
    
